html {
    height: 100%;
}

html * {
    font-family: 'Acme', sans-serif;
}

body {
    height: 100%;
    margin: 0;
    background: #eacda3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eacda3, #d6ae7b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eacda3, #d6ae7b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body.in-game {
    background: #000a92;
}

.title {
    text-align: center;
    color: white;
    border: black;
    font-weight: bold;
    font-size: 6.5em;
}

#gameArea {
    height: 100%;
}

.noselect {
  /*  from https://stackoverflow.com/a/4407335/10231083    */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

button {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

/* Start Screen */

.intro-container {
    display: flex;
    flex-direction: column;
    margin: 40px auto 0 auto;
    align-items: center;
    justify-content: space-between;
}

.intro-container * {
    margin-bottom: 20px;
    padding: 20px;
    font-size: 1.5em;
}

.intro-container input {
    border: 1px solid black;
    border-radius: 5px;
    width: 220px;
    text-align: center;
}

.intro-container button {
    background-color: #281ab1;
    border: 1px solid black;
    color: white;
    width: 230px;
    border-radius: 5px;
}

.intro-container #btnJoinGame {
    background-color: #81589c;
    border: 1px solid black;
    color: white;
    width: 230px;
    border-radius: 5px;
}

.intro-container #btnJoinGame:hover {
    background-color: #4b2961;
}

.intro-container button:hover {
    background-color: #120a61;
}

.intro-container #errorMessage {
    color: #4c0e54;
    width: 75%;
    text-align: center;
} 

/* Lobby Screen */

.lobby-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.lobby-container .info {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.lobby-container .info-big {
    font-size: 2em;
    margin: 0 0 10px;
}

.lobby-container .players-container {
    margin-top: 10px;
}

.players-container #playersHeader {
    font-size: 2em;
    color: #5d2e2e;
    border: 5px solid white;
    padding: 7px 30px 2px 30px;
    margin: 0;
    text-align: center;
}

.players-container #players {
    list-style: none;
    padding: 7px 30px 2px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid #8fb2ce;
    margin: 0 0 15px 0;
}

.players-container #players li {
    font-size: 1.5em;
    color: #281ab1;
    text-align: center;
}

.players-container #players li:nth-child(even) {
    color: #444c47;
}

.players-container #players li:nth-child(3n) {
    color: #a94365;
}

.players-container #players li:nth-child(4n) {
    color: #634cc3;
}

.lobby-container .btn-box {
    style: flex;
}
.lobby-container .btn-box button {
    background-color: #281ab1;
    border: 1px solid black;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
}

.lobby-container .btn-box button:hover {
    background-color: #120a61;
} 

.lobby-container #btnLeaveGame {
    background-color: #ad6363;
}

.lobby-container #btnLeaveGame:hover {
    background-color: #441515;
}

/* GamePlay Screen */

.game-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#gameBoard {
    flex: 18 1 0;
    display: flex;
}

.category {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}


.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    align-self: stretch;
    /*   text-align for when text wraps   */
    text-align: center;
    flex: 1 1 0;
    border: .4vmin solid black;
    background-color: #000a92;
    font-size: 4vmin;
}


.cell.header {
    padding: 0 4px;
    font-family: 'Staatliches', cursive;
    cursor: arrow;
    color: white;
}

.cell.clue {
    font-family: 'Anton', sans-serif;
    cursor: pointer;
    color: #e2ad6b;
    -webkit-text-stroke: .3vmin black;
}


.cell.clue:hover {
    border: .4vmin solid yellow;
}

.cell.clue.nohover {
    border: .4vmin solid black !important;
    cursor: default;
}
}

.cell.clue.answered {
    color: transparent;
    cursor: default;
    border: .4vmin solid black;
}

.cell.clue.answered:hover {
    cursor: default;
}

#scoreBoard {
    display: flex;
    flex: 2 9 0;
    justify-content: center;
    align-items: center;
    font-size: 2.5vmin;
    background-color: #00456a;
    /*     We want the scoreBoard to show during a question     */
    z-index: 2;
}

.score-card {
    flex: 1;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 20px;
    border: 0.4vmin solid black;
    justify-content: center;
    overflow: hidden;
    /*   text-align for when text wraps   */
    text-align: center;
    flex-grow: 1;
}

.score-card .name-label {
    padding: 10px 15px 0 15px;
    border-bottom: 2px solid black;
}

.score-card:nth-child(4n+1) .name-label {
    background-color: #c9e6ff;
}

.score-card:nth-child(4n+2) .name-label {
    background-color: #97e1b3;
}

.score-card:nth-child(4n+3) .name-label {
    background-color: #cea1d6;
}

.score-card:nth-child(4n) .name-label {
    background-color: #df6c64;
}

.score-card .score-label {
    background-color: white;
}

.playerTimer {
    display: flex;
    flex-grow: 1;
    background-color: gray;
}

.timerBlock {
    flex: 1;
    flex-grow: 1;
    font-size: 0.4vh;
    background-color: #2e2737;
}

.playerTimer span {
    border: 0.2vh solid #675d69;
    border-right: none;
}

.playerTimer .timerBlock:last-child {
    border-right: 0.2vh solid #675d69;
}

.playerTimer.time-5000 .timerBlock:nth-child(n){
    background-color: #e30b27;
}

.playerTimer.time-4000 .timerBlock:nth-last-child(2n),
.playerTimer.time-4000 .timerBlock:nth-child(4n+3),
.playerTimer.time-4000 .timerBlock:nth-child(5) {
    background-color: #e30b27;
}

.playerTimer.time-3000 .timerBlock:nth-child(4n-1),
.playerTimer.time-3000 .timerBlock:nth-child(4),
.playerTimer.time-3000 .timerBlock:nth-child(5),
.playerTimer.time-3000 .timerBlock:nth-child(6) {
    background-color: #e30b27;
}

.playerTimer.time-2000 .timerBlock:nth-child(4),
.playerTimer.time-2000 .timerBlock:nth-child(5),
.playerTimer.time-2000 .timerBlock:nth-child(6) {
    background-color: #e30b27;
}

.playerTimer.time-1000 .timerBlock:nth-child(5) {
    background-color: #e30b27;
}

.fullscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
}

.fullscreen.absolute {
    position: absolute;
}

.fullscreen.fixed {
    position: fixed;
}

#questionScreen {
    background-color: #000a92;
    display: flex;
    flex: 20;
    flex-direction: column;
}

/* Add this to limit the height that the question can take up */
#questionBox {
    flex: 8;
    position: fixed;
    width: 100%;
    margin-top: 20px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    font-size: 9vmin;
}

.clue-card-span {
    margin-bottom: 5px;
    font-family: 'Staatliches', cursive;
    text-align: center;
    color: white;
    flex: 1 1 0;
    align-self: stretch;
    text-shadow: 1px 1px 8px black;
    font-family: 'Staatliches', cursive;
    text-align: center;
    color: white;
}

#questionText {
/*     background-color: green; */
    padding: 3vw 0;
    /* 5px just in case */
    margin-bottom: 5px;
}

#answerText {
/*     background-color: red; */
    color: #ffee6a;
    flex: 1 1 0;
    padding: 3vw 0 0 0;
}

.divider {
    border-bottom: 6px dashed black;
    margin: 0 10vw;
}

#messageBox {
    flex: 1;
    z-index: 2;
}

#gameStatus {
    flex: 1;
    padding: 10px;
    font-size: 4vmin;
    justify-content: center;
    background-color: #3438b0;
    display: flex;
}